<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.RcsTournamentTemplateAcceptConfigMapper">

  <select id="queryMatchDataSourceAndTimeConfig" resultType="com.panda.sport.rcs.pojo.tourTemplate.RcsTournamentTemplateAcceptConfig">
        SELECT c.category_set_id as categorySetId,
                c.data_source as dataSource,
                c.normal as normal,
                c.min_wait as minWait,
                c.max_wait as maxWait
        FROM rcs_tournament_template_accept_config c
        JOIN  rcs_tournament_template t ON c.template_id = t.id AND t.type = 3 AND t.match_type = 0
        WHERE t.type_val = #{config.matchId,jdbcType=BIGINT}
        AND t.sport_id = #{config.sportId,jdbcType=INTEGER}
        AND c.category_set_id = #{config.categorySetId,jdbcType=INTEGER}
  </select>

  <update id="updateMatchDataSourceAndTimeConfig">
        UPDATE rcs_tournament_template_accept_config c
        SET c.data_source = #{config.dataSource,jdbcType=VARCHAR},
            c.normal = #{config.normal,jdbcType=INTEGER},
            c.min_wait = #{config.minWait,jdbcType=INTEGER},
            c.max_wait = #{config.maxWait,jdbcType=INTEGER},
            c.update_time = NOW()
        WHERE c.id = #{config.id,jdbcType=INTEGER}
  </update>

  <update id="updateMatchDataSourceByTemplateId">
        UPDATE rcs_tournament_template_accept_config c
        SET c.data_source = #{dataSourceCode},
            c.update_time = NOW()
        WHERE c.template_id = #{templateId}
  </update>

  <select id="queryAcceptConfigByMatchId" resultType="com.panda.sport.rcs.pojo.tourTemplate.RcsTournamentTemplateAcceptConfig">
        SELECT
            a.*
        FROM
            rcs_tournament_template t,
            rcs_tournament_template_accept_config a
        WHERE
            t.id = a.template_id
            AND t.sport_id = 1
            AND t.match_type = 0
            AND t.type = 3
            AND t.type_val = #{standardMatchId}
            AND a.data_source = #{dataSourceCode}
  </select>
  
  <select id="queryConfigCode" resultType="java.lang.String">
        SELECT c.data_source as dataSource
        FROM rcs_tournament_template_accept_config c
        JOIN  rcs_tournament_template t ON c.template_id = t.id AND t.type = 3 AND t.match_type = 0
        WHERE t.type_val = #{matchId}
        AND t.sport_id = #{sportId}
        AND c.category_set_id = #{categorySetId}
  </select>
  
  
    <select id="querySettleCode" resultType="java.lang.String">
        SELECT c.data_source as dataSource
        FROM rcs_tournament_template_accept_config_settle c
        JOIN  rcs_tournament_template t ON c.template_id = t.id AND t.type = 3 AND t.match_type = 0
        WHERE t.type_val = #{matchId}
        AND t.sport_id = #{sportId}
        AND c.category_set_id = #{categorySetId}
  </select>
  
</mapper>