<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.RcsMonitorMapper">

	<delete id="cleanData" parameterType="Map">
		DELETE FROM  ${table} WHERE ${time_field_name} &lt; DATE_ADD(NOW() , INTERVAL -7 DAY) limit 10000
	</delete>
</mapper>
