<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.credit.RcsCreditSinglePlayBetLimitMapper">
    <insert id="batchInsertOrUpdate">
        INSERT INTO `panda_rcs`.`rcs_credit_single_play_bet_limit` ( `merchant_id`, `credit_id`, `user_id`, `sport_id`, `play_classify`, `bet_stage`, `tournament_level`, `value` )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.merchantId}, #{item.creditId}, #{item.userId}, #{item.sportId}, #{item.playClassify}, #{item.betStage}, #{item.tournamentLevel}, #{item.value})
        </foreach>
        ON DUPLICATE KEY UPDATE
        `value` = VALUES(value),
        update_time = now()
    </insert>
</mapper>
