<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.RcsOddsConvertMappingMapper">

	<!-- 开启本mapper所在namespace的二级缓存-->
	<cache eviction="FIFO" flushInterval="1000000" size="1024" readOnly="true"/>

	<select id="queryOddsMappingList" resultType="com.panda.sport.rcs.pojo.RcsOddsConvertMapping" useCache="false">
			SELECT * FROM rcs_odds_convert_mapping ORDER BY CONVERT(europe,DOUBLE)
	</select>

	<select id="queryMaxOdds" resultType="string">
		SELECT max(t.europe+0) FROM rcs_odds_convert_mapping t WHERE t.malaysia * 1 = #{myOdds}
	</select>

	<select id="queryMinOdds" resultType="string">
		SELECT min(t.europe+0) FROM rcs_odds_convert_mapping t WHERE t.malaysia * 1 = #{myOdds}
	</select>
</mapper>
