<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.rcs.logService.mapper.RcsLanguageInternationMapper">
    <resultMap id="BaseResultMap" type="com.panda.rcs.logService.vo.RcsLanguageInternation">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name_code" jdbcType="VARCHAR" property="nameCode"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, name_code, `text`, create_time, update_time
    </sql>
    <!-- 开启本mapper所在namespace的二级缓存 5分钟 = 60 * 1000 * 5-->
	<cache eviction="FIFO" flushInterval="300000" size="1024" readOnly="true"/>

    <select id="getPlayNameByPlayIds" resultType="com.panda.rcs.logService.vo.LanguageInternation">
        SELECT  li.id,
        li.name_code,
        'zs' language_type,
        JSON_UNQUOTE(JSON_EXTRACT ( li.text, '$.zs' )) text
        FROM rcs_language_internation li
        LEFT JOIN standard_sport_market_category_ref ssmcr ON li.name_code = ssmcr.name_code
        WHERE ssmcr.sport_id = #{sportId}
        <if test="playIds != null">
            AND ssmcr.category_id in
            <foreach collection="playIds" item="playId" open="(" separator="," close=")">
                #{playId}
            </foreach>
        </if>
    </select>
    <select id="getPlayNameByCategoryIdAndSportId" resultType="com.panda.rcs.logService.vo.LanguageInternation">
        SELECT li.id,
               li.name_code,
               'zs' languageType,
               JSON_UNQUOTE(JSON_EXTRACT ( li.text, '$.zs' )) text
        FROM rcs_language_internation li
                 LEFT JOIN standard_sport_market_category_ref ssmcr ON li.name_code = ssmcr.name_code
        WHERE ssmcr.category_id = #{playId}
          AND ssmcr.sport_id = #{sportId}
        GROUP BY li.name_code
    </select>
    <select id="getTournamentNameByIdAndSprotId" resultType="com.panda.rcs.logService.vo.LanguageInternation">
        SELECT li.id,
               li.name_code,
               'zs' languageType,
               JSON_UNQUOTE(JSON_EXTRACT ( li.text, '$.zs' )) text
        FROM rcs_language_internation li
                 LEFT JOIN standard_sport_tournament sst ON li.name_code = sst.name_code
        WHERE sst.id = #{tournamentId}
          AND sst.sport_id = #{sportId}
    </select>

    <select id="getPlayNameByPlayIdsEn" resultType="com.panda.rcs.logService.vo.LanguageInternation">
        SELECT  li.id,
        li.name_code,
        'en' language_type,
        JSON_UNQUOTE(JSON_EXTRACT ( li.text, '$.en' )) text
        FROM rcs_language_internation li
        LEFT JOIN standard_sport_market_category_ref ssmcr ON li.name_code = ssmcr.name_code
        WHERE ssmcr.sport_id = #{sportId}
        <if test="playIds != null">
            AND ssmcr.category_id in
            <foreach collection="playIds" item="playId" open="(" separator="," close=")">
                #{playId}
            </foreach>
        </if>
    </select>
    <select id="getPlayNameByCategoryIdAndSportIdEn" resultType="com.panda.rcs.logService.vo.LanguageInternation">
        SELECT li.id,
               li.name_code,
               'en' languageType,
               JSON_UNQUOTE(JSON_EXTRACT ( li.text, '$.en' )) text
        FROM rcs_language_internation li
                 LEFT JOIN standard_sport_market_category_ref ssmcr ON li.name_code = ssmcr.name_code
        WHERE ssmcr.category_id = #{playId}
          AND ssmcr.sport_id = #{sportId}
        GROUP BY li.name_code
    </select>
    <select id="getTournamentNameByIdAndSprotIdEn" resultType="com.panda.rcs.logService.vo.LanguageInternation">
        SELECT li.id,
               li.name_code,
               'en' languageType,
               JSON_UNQUOTE(JSON_EXTRACT ( li.text, '$.en' )) text
        FROM rcs_language_internation li
                 LEFT JOIN standard_sport_tournament sst ON li.name_code = sst.name_code
        WHERE sst.id = #{tournamentId}
          AND sst.sport_id = #{sportId}
    </select>

    <select id="getPlayNameByCategoryIdAndSportIdZcEn" resultType="com.panda.rcs.logService.vo.LanguageInternation">
        SELECT li.id,
               li.name_code,
               li.text
        FROM rcs_language_internation li
                 LEFT JOIN standard_sport_market_category_ref ssmcr ON li.name_code = ssmcr.name_code
        WHERE ssmcr.category_id = #{playId}
          AND ssmcr.sport_id = #{sportId}
        GROUP BY li.name_code
    </select>

    <select id="getTournamentNameByIdAndSprotIdZcEn" resultType="com.panda.rcs.logService.vo.LanguageInternation">
        SELECT li.id,
               li.name_code,
                li.text
        FROM rcs_language_internation li
                 LEFT JOIN standard_sport_tournament sst ON li.name_code = sst.name_code
        WHERE sst.id = #{tournamentId}
          AND sst.sport_id = #{sportId}
    </select>



    
</mapper>