<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.rcs.logService.mapper.RcsTournamentTemplatePlayMargainMapper">


    <select id="queryTournamentAdjustRangeByPlayId"
            resultType="com.panda.rcs.logService.vo.RcsTournamentTemplatePlayMargain">
        SELECT   IFNULL(m.market_adjust_range,1) as marketAdjustRange,
                IFNULL(m.odds_adjust_range,0.01) as oddsAdjustRange,
				IFNULL(m.market_near_diff,1) as marketNearDiff,
				IFNULL(m.market_count,3) as marketCount,
				IFNULL(m.market_near_odds_diff,0.15) as marketNearOddsDiff,
				ifnull(m.odds_max_value,0.3) as oddsMaxValue,
                ifnull(m.market_max_value,3) as marketMaxValue,
                ifnull(m.is_special_pumping,0) as isSpecialPumping,
                m.special_odds_interval as specialOddsInterval,
                m.manual_market_near_diff as manualMarketNearDiff,
                m.min_ball_head as minBallHead,
                m.max_ball_head as maxBallHead,
                m.manual_market_near_odds_diff as manualMarketNearOddsDiff,
                m.ball_head_config as ballHeadConfig
        FROM  rcs_tournament_template_play_margain m
        JOIN rcs_tournament_template t ON t.id = m.template_id AND t.type = 3
        WHERE t.type_val = #{config.matchId,jdbcType=BIGINT}
        AND t.match_type = #{config.matchType,jdbcType=INTEGER}
        AND m.play_id = #{config.playId,jdbcType=BIGINT}
        AND m.is_sell = 1
        LIMIT 1
    </select>




</mapper>