<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="20 seconds">

    <springProperty scope="context" name="log.path" source="log.path"/>
    <property name="app.name" value="panda-rcs-predict"/>

    <property name="charset" value="utf-8"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>INFO</level>
        </filter>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonFactoryDecorator class="net.logstash.logback.decorate.CharacterEscapesJsonFactoryDecorator">
                <escape>
                    <targetCharacterCode>10</targetCharacterCode>
                    <escapeSequence>\u2028</escapeSequence>
                </escape>
            </jsonFactoryDecorator>
            <providers>
                <pattern>
                    <pattern>
                        {
                        "serviceName": "${app.name}",
                        "date":"%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "logLevel": "%level",
                        "pid": "${PID:-}",
                        "traceId":"[%X{X-B3-TraceId:-},%X{reqId:-}],[%X{linkId:-},%X{reqId:-}] [%1.15t]",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "msg":"%msg",
                        "stackTrace" : "%exception"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${log.path}/panda-rcs-predict/%d{yyyy-MM-dd}/panda-rcs-predict-%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>3</MaxHistory>
            <MaxFileSize>1GB</MaxFileSize>
        </rollingPolicy>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonFactoryDecorator class="net.logstash.logback.decorate.CharacterEscapesJsonFactoryDecorator">
                <escape>
                    <targetCharacterCode>10</targetCharacterCode>
                    <escapeSequence>\u2028</escapeSequence>
                </escape>
            </jsonFactoryDecorator>
            <providers>
                <pattern>
                    <pattern>
                        {
                        "serviceName": "${app.name}",
                        "date":"%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "logLevel": "%level",
                        "pid": "${PID:-}",
                        "traceId":"[%X{X-B3-TraceId:-},%X{reqId:-}],[%X{linkId:-},%X{reqId:-}] [%1.15t]",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "msg":"%msg",
                        "stackTrace" : "%exception"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>

    </appender>
    
    <appender name="ERROR" class="com.panda.sport.rcs.monitor.task.log.LogbackMonitorAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${log.path}/panda-rcs-predict/%d{yyyy-MM-dd}/panda-rcs-predict-error-%d{yyyy-MM-dd}.log.gz
            </FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonFactoryDecorator class="net.logstash.logback.decorate.CharacterEscapesJsonFactoryDecorator">
                <escape>
                    <targetCharacterCode>10</targetCharacterCode>
                    <escapeSequence>\u2028</escapeSequence>
                </escape>
            </jsonFactoryDecorator>
            <providers>
                <pattern>
                    <pattern>
                        {
                        "serviceName": "${app.name}",
                        "date":"%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "logLevel": "%level",
                        "pid": "${PID:-}",
                        "traceId":"[%X{X-B3-TraceId:-},%X{reqId:-}],[%X{linkId:-},%X{reqId:-}] [%1.15t]",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "msg":"%msg",
                        "stackTrace" : "%exception"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

	<logger name="org.mybatis.spring" level="OFF"/>
	<logger name="org.springframework" level="OFF"/>

    <logger name="com.panda.sport.rcs.log.LogFilter" level="OFF"/>
    <logger name="com.panda.sport.rcs.log.LogAspect" level="OFF"/>
    <logger name="com.panda.sport.rcs.log.DubboLogFilter" level="OFF"/>
    <logger name="com.alibaba.nacos.client.naming" level="OFF"/>
	
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>  
        <appender-ref ref="ERROR"/>
    </root>
</configuration>
