<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.RcsFirstMarketMapper">
  <resultMap id="BaseResultMap" type="com.panda.sport.rcs.pojo.RcsFirstMarket">
    <!--@mbg.generated-->
    <!--@Table rcs_first_market-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="standard_match_id" jdbcType="BIGINT" property="standardMatchId" />
    <result column="play_id" jdbcType="BIGINT" property="playId" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, standard_match_id, play_id, `value`, create_time
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update rcs_first_market
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="standard_match_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.standardMatchId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="play_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.playId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`value` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.value,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rcs_first_market
    (standard_match_id, play_id, `value`,`type`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.standardMatchId,jdbcType=BIGINT}, #{item.playId,jdbcType=BIGINT}, #{item.value,jdbcType=VARCHAR}, #{item.type})
    </foreach>
  </insert>

  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.panda.sport.rcs.pojo.RcsFirstMarket" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rcs_first_market
    <trim prefix="(" suffix=")" suffixOverrides=",">
      standard_match_id,
      play_id,
      `value`,
      `type`
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      #{standardMatchId,jdbcType=BIGINT},
      #{playId,jdbcType=BIGINT},
      #{value,jdbcType=VARCHAR},
      #{type}
    </trim>
    on duplicate key update
        <trim suffixOverrides=",">
          `value` = values (`value`),
        </trim>
  </insert>

  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.panda.sport.rcs.pojo.RcsFirstMarket" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rcs_first_market
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="standardMatchId != null">
        standard_match_id,
      </if>
      <if test="playId != null">
        play_id,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="standardMatchId != null">
        #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="playId != null">
        #{playId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="standardMatchId != null">
        standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="playId != null">
        play_id = #{playId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

    <insert id="batchInsertOrUpdate" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
      insert into rcs_first_market
      (standard_match_id, play_id, `value`,`type`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.standardMatchId,jdbcType=BIGINT}, #{item.playId,jdbcType=BIGINT}, #{item.value,jdbcType=VARCHAR}, #{item.type})
        </foreach>
          on duplicate key update
        <trim suffixOverrides=",">
          `value` = values (`value`),
        </trim>
    </insert>
</mapper>