<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.RcsLabelSportVolumePercentageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.panda.sport.rcs.pojo.RcsLabelSportVolumePercentage">
        <id column="id" property="id" />
        <result column="tag_id" property="tagId" />
        <result column="sport_id" property="sportId" />
        <result column="volume_percentage" property="volumePercentage" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
