<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.RcsMarketNumStatisMapper">


    <select id="queryBetNums" resultType="com.panda.sport.rcs.pojo.RcsMarketNumStatis">
    SELECT
        s.*
    FROM
	    rcs_market_num_statis s
	    LEFT JOIN standard_match_info i ON i.id = s.match_id
	WHERE
        CASE
        WHEN i.match_status IN ( 1, 2, 10 ) THEN
        s.match_type = 2 ELSE s.match_type = 1
        END
        <if test="matchIds != null and matchIds.size() != 0">
            and s.match_id in
            <foreach collection="matchIds" item="mId" index="index"
                     open="(" close=")" separator=",">
                #{mId}
            </foreach>
        </if>
    </select>

</mapper>
