<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.TUserMapper">
    <select id="selectByUserId" resultType="com.panda.sport.rcs.pojo.TUser">
        select u.*,l.level_name from t_user  u  left join t_user_level l on l.level_id=u.user_level
            where u.uid=#{userId}
    </select>
    <select id="findByPercentageLimit" resultType="java.lang.Long">
        SELECT DISTINCT
            u.uid
        FROM
            t_user u
                INNER JOIN rcs_user_special_bet_limit_config rusblc ON u.uid = rusblc.user_id
                AND rusblc.special_betting_limit_type = 2
                AND rusblc.percentage_limit = #{percentageLimit}
        WHERE
            u.merchant_code = #{merchantCode}
          AND u.del_flag = 0
    </select>

    <insert id="insertOrUpdate" keyColumn="uid" keyProperty="uid" parameterType="com.panda.sport.rcs.pojo.TUser" useGeneratedKeys="false">
        INSERT INTO `t_user`(
        `uid`,
        <if test="disabled!=null">
        `disabled`,
        </if>
        <if test="username!=null">
        `username`,
        </if>
        <if test="password!=null">
        `password`,
        </if>
        <if test="realName!=null">
        `real_name`,
        </if>
        <if test="phone!=null">
        `phone`,
        </if>
        <if test="idCard!=null">
        `id_card`,
        </if>
        <if test="email!=null">
        `email`,
        </if>
        <if test="isTest!=null">
        `is_test`,
        </if>
        <if test="userLevel!=null">
        `user_level`,
        </if>
        <if test="ip!=null">
        `ip`,
        </if>
        <if test="currencyCode!=null">
        `currency_code`,
        </if>
        <if test="remark!=null">
        `remark`,
        </if>
        <if test="createUser!=null">
        `create_user`,
        </if>
        <if test = "modifyUser">
        `modify_user`,
        </if>
        <if test="modifyTime!=null">
        `modify_time`,
        </if>
        <if test = "delFlag">
        `del_flag`,
        </if>
        <if test="merchantCode!=null">
        `merchant_code`,
        </if>
        <if test="ipAddress!=null">
        `ip_address`,
        </if>
        <if test="profit!=null">
        `profit`,
        </if>
        <if test="betAmount!=null">
        `bet_amount`,
        </if>
        `create_time`
        ) VALUES
            (
            #{uid},
        <if test="disabled!=null">
            #{disabled},
        </if>
        <if test="username!=null">
            #{username},
        </if>
        <if test="password!=null">
            #{password},
        </if>
        <if test="realName!=null">
            #{realName},
        </if>
        <if test="phone!=null">
            #{phone},
        </if>
        <if test="idCard!=null">
            #{idCard},
        </if>
        <if test="email!=null">
            #{email},
        </if>
        <if test="isTest!=null">
            #{isTest},
        </if>
        <if test="userLevel!=null">
            #{userLevel},
        </if>
        <if test="ip!=null">
            #{ip},
        </if>
        <if test="currencyCode!=null">
            #{currencyCode},
        </if>
        <if test="remark!=null">
            #{remark},
        </if>
        <if test="createTime!=null">
            #{createTime},
        </if>
        <if test = "modifyUser">
            #{modifyUser},
        </if>
        <if test="modifyTime!=null">
            #{modifyTime},
        </if>
        <if test = "delFlag">
            #{delFlag},
        </if>
        <if test="merchantCode!=null">
            #{merchantCode},
        </if>
        <if test="ipAddress!=null">
            #{ipAddress},
        </if>
        <if test="profit!=null">
            #{profit},
        </if>
        <if test="betAmount!=null">
            #{betAmount},
        </if>
        now()
            )
        on duplicate key update
            user_level =#{userLevel}
    </insert>
</mapper>
