<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="20 seconds">

    <property name="app.name" value="panda-rcs-mts-pinnacle"/>
    
    <springProperty scope="context" name="log.path" source="log.path"/>

    <property name="charset" value="utf-8"/>
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
    <!--<property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>-->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID} --- traceId:[%X{X-B3-TraceId:-},%X{reqId:-}] [%15.15t] %-40.40logger{39} : %m%n"/>

    <springProperty scope="context" name="elk.address" source="log.elk.address"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${log.path}/panda-rcs-mts-pinnacle/%d{yyyy-MM-dd}/panda-rcs-mts-pinnacle-%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>3</MaxHistory>
            <MaxFileSize>1GB</MaxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>
    
    <appender name="ERROR" class="com.panda.sport.rcs.monitor.task.log.LogbackMonitorAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${log.path}/panda-rcs-mts-pinnacle/%d{yyyy-MM-dd}/panda-rcs-mts-pinnacle-error-%d{yyyy-MM-dd}.log.gz
            </FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <appender name="file_elk" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${elk.address}</destination>    <!--接收日志的端口和地址-->
        <!-- 日志输出编码 -->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "logLevel": "%level",
                        "serviceName": "${app.name}",  <!--springboot 服务的名字-->
                        "pid": "${PID:-}",
                        "link_id": "%mdc{linkId}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "message": "%message",          <!--日志内容-->
                        "logger": "%logger",
                        "stackTrace" : "%exception{10}"   <!--stackTrace 内容-->
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

	<logger name="org.mybatis.spring" level="INFO"/>
	<logger name="org.springframework" level="WARN"/>
	
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>  
        <appender-ref ref="ERROR"/>
        <appender-ref ref="file_elk"/>
    </root>
</configuration>
