<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.predict.RcsPredictForecastMapper">

    <insert id="saveOrUpdate" parameterType="com.panda.sport.rcs.pojo.RcsPredictBetStatis">
        INSERT INTO rcs_predict_forecast(sport_id,match_id,match_type,play_id,market_id,odds_item,bet_score,profit_amount,create_time,market_value_complete,market_value_current,forecast_score)
        VALUES(#{sportId},#{matchId},#{matchType},#{playId},#{marketId},#{oddsItem},#{betScore},#{profitAmount},#{createTime},#{marketValueComplete},#{marketValueCurrent},#{forecastScore})
        ON DUPLICATE KEY UPDATE
        sport_id=  #{sportId} ,
        match_id=  #{matchId} ,
        match_type= #{matchType},
        play_id= #{playId},
        market_id= #{marketId},
        odds_item= #{oddsItem},
        bet_score= #{betScore},
        profit_amount= #{profitAmount},
        create_time= #{createTime},
        market_value_complete= #{marketValueComplete},
        market_value_current= #{marketValueCurrent},
        forecast_score=#{forecastScore}
    </insert>

</mapper>
