<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.data.mapper.RcsTournamentTemplateAcceptConfigMapper">
<!--    <resultMap id="BaseResultMap" type="com.panda.sport.rcs.pojo.tourTemplate.RcsTournamentTemplateAcceptConfig">-->
<!--        <id column="id" jdbcType="INTEGER" property="id" />-->
<!--        <result column="template_id" jdbcType="INTEGER" property="templateId" />-->
<!--        <result column="category_set_id" jdbcType="VARCHAR" property="categorySetId" />-->
<!--        <result column="data_source" jdbcType="VARCHAR" property="dataSource" />-->
<!--        <result column="normal" jdbcType="INTEGER" property="normal" />-->
<!--        <result column="min_wait" jdbcType="INTEGER" property="minWait" />-->
<!--        <result column="max_wait" jdbcType="INTEGER" property="maxWait" />-->
<!--        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />-->
<!--    </resultMap>-->
    <select id="selectOrderAcceptConfig" resultType="com.panda.sport.rcs.pojo.tourTemplate.RcsTournamentTemplateAcceptConfig">
    SELECT e.event_type as eventType,
    e.event_code as eventCode,
    c.data_source as dataSource,
    t.type_val as  matchId,
    c.category_set_id as  categorySetId,
    c.normal as minWaitTime,
    CASE event_type
    WHEN 'safety' THEN
    c.normal
    WHEN 'danger' THEN
    c.min_wait
    WHEN 'closing' THEN
    c.max_wait
    WHEN 'reject' THEN
    0
    END maxWaitTime
    FROM rcs_tournament_template_accept_event e
    JOIN rcs_tournament_template_accept_config c ON e.accept_config_id = c.id
    JOIN  rcs_tournament_template t ON c.template_id = t.id AND t.type = 3 AND t.match_type = 0
    WHERE t.type_val = #{matchId}
    AND t.sport_id = 1
    AND e.event_type is NOT null
    AND e.`status` = 1
</select>


    <select id="selectOrderAcceptConfigNew" resultType="com.panda.sport.rcs.pojo.tourTemplate.RcsTemplateEventInfoConfig">
        select  * from rcs_template_event_info_config WHERE category_set_id =#{categorySetId} and event_code=#{eventCode} and event_type='danger' and reject_type=1
    </select>

    <update id="updateMatchDataSourceAndTimeConfig">
        UPDATE rcs_tournament_template_accept_config c
        SET c.data_source = #{config.dataSource,jdbcType=VARCHAR},
            c.normal = #{config.normal,jdbcType=INTEGER},
            c.min_wait = #{config.minWait,jdbcType=INTEGER},
            c.max_wait = #{config.maxWait,jdbcType=INTEGER},
            c.update_time = NOW()
        WHERE c.id = #{config.id,jdbcType=INTEGER}
  </update>
    <update id="updateMatchDataSourceByTemplateId">
        UPDATE rcs_tournament_template_accept_config c
        SET c.data_source = #{dataSourceCode},
            c.update_time = NOW()
        WHERE c.template_id = #{templateId}
    </update>


    <select id="queryConfigCode" resultType="java.lang.String">
        SELECT c.data_source as dataSource
        FROM rcs_tournament_template_accept_config c
        JOIN  rcs_tournament_template t ON c.template_id = t.id AND t.type = 3 AND t.match_type = 0
        WHERE t.type_val = #{matchId}
        AND t.sport_id = #{sportId}
        AND c.category_set_id = #{categorySetId}
  </select>


    <select id="querySettleCode" resultType="java.lang.String">
        SELECT c.data_source as dataSource
        FROM rcs_tournament_template_accept_config_settle c
        JOIN  rcs_tournament_template t ON c.template_id = t.id AND t.type = 3 AND t.match_type = 0
        WHERE t.type_val = #{matchId}
        AND t.sport_id = #{sportId}
        AND c.category_set_id = #{categorySetId}
  </select>
    <!--<select id="selectOrderAcceptConfig" resultType="com.panda.sport.rcs.pojo.tourTemplate.RcsTournamentTemplateAcceptConfig">
        SELECT e.event_type as eventType,
        e.event_code as eventCode,
        c.data_source as dataSource,
        c.category_set_id categorySetId,
        CASE event_type
        WHEN 'safety' THEN
        c.normal
        WHEN 'danger' THEN
        c.min_wait
        WHEN 'closing' THEN
        c.max_wait
        END waitTime,
        e.event_name as eventName,
        e.`status` as status
        FROM rcs_tournament_template_accept_event e
        JOIN rcs_tournament_template_accept_config c ON e.accept_config_id = c.id
        JOIN  rcs_tournament_template t ON c.template_id = t.id AND t.type = 3 AND t.match_type = 0
        WHERE t.type_val = #{matchId,jdbcType=BIGINT}
        AND c.category_set_id = #{categorySetId,jdbcType=INTEGER}
        AND e.event_type is NOT null
        AND e.`status` = 1
    </select>-->
</mapper>
