<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.console.dao.GarbageCollectorMapper">
    <insert id="bathInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        insert into rcs_monitor_garbage_collector
        (count, time, gc_name, ip, pid, uuid, sever_name)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.count}, #{item.time}, #{item.gcName}, #{item.ip}, #{item.pid}, #{item.uuid},#{item.severName} )
        </foreach>
    </insert>
    
    <select id="queryThreadInfo" resultType="Map" parameterType="Map">
		SELECT id,ip,pid,sever_name,`current_time`,daemon_count,count,total_started_thread_count,
		DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') create_time
		FROM rcs_monitor_thread WHERE ip = #{ip} AND  pid = #{pid} AND sever_name = #{severName} 
        AND create_time > #{createTime}
        ORDER BY create_time DESC 
        <if test="type == 1 or type == '1'">
        	LIMIT 1
        </if>
        <if test="type == 2 or type == '2'">
        	LIMIT 1000
        </if>
    </select>
</mapper>