<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.champion.RcsChampionRiskConfigMapper">

    <select id="queryChampionRiskConfig" resultType="com.panda.sport.rcs.pojo.RcsMatchMarketConfig">
        SELECT ifnull(r.one_total_odds_amount,500000) AS homeLevelSecondMaxAmount,
                ifnull(r.one_odds_amount,100000) AS homeLevelFirstMaxAmount,
             CASE
                WHEN ifnull(p.odds_change_times,0) = 0 THEN ifnull(r.one_probability,0.5)
                WHEN p.odds_change_times = 1 THEN ifnull(r.two_probability,1)
             ELSE ifnull(r.three_probability,1.5)
             END AS homeLevelFirstOddsRate
        FROM rcs_champion_risk_config r
        LEFT JOIN rcs_match_market_probability_config p ON r.market_id = p.market_id AND p.odds_type = #{config.oddsType,jdbcType=VARCHAR}
        WHERE r.match_id = #{config.matchId,jdbcType=BIGINT}
        AND r.market_id = #{config.marketId,jdbcType=BIGINT}
    </select>
</mapper>
