<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.RcsQuotaCrossBorderLimitMapper">
    <select id="selectRcsQuotaCrossBorderLimit" resultType="com.panda.sport.rcs.pojo.RcsQuotaCrossBorderLimit">
        SELECT * FROM rcs_quota_cross_border_limit WHERE sport_id=#{sportId} AND `status`=1 ORDER BY tournament_level    </select>
</mapper>