<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.db.mapper.UserProfileOrderDangerousMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.panda.sport.rcs.db.entity.UserProfileOrderDangerous">
        <id column="id" property="id" />
        <result column="bet_no" property="betNo" />
        <result column="order_no" property="orderNo" />
        <result column="dangerous_id" property="dangerousId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bet_no, order_no, dangerous_id
    </sql>

</mapper>
