<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='操盘记录'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <el-main class="app-main">
            <el-card>
                <el-alert title="类加载监控" type="success" show-icon :closable="false"></el-alert>
                <br/>
                <el-card>
                    <div id="class-count" style="display: inline-block;width:48%;"></div>
                    <div id="class-loaded" style="display: inline-block;width:48%;"></div>
                    <div id="class-unLoaded" style="display: inline-block;width:48%;"></div>
                </el-card>
            </el-card>
        </el-main>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
</div>
<div th:replace="common/js"></div>
<script data-th-src="@{/lib/highchart/highcharts.js}"></script>
<script data-th-src="@{/lib/highchart/exporting.js}"></script>
<script data-th-src="@{/lib/highchart/highcharts-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/js/jvm/class.js}"></script>
</body>
</html>