<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='操盘记录'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">链路ID</label>
                <div class="layui-input-inline">
                    <input id="linkId" name="linkId" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">赛事ID</label>
                <div class="layui-input-inline">
                    <input id="standardMatchId" name="standardMatchId" autocomplete="off" class="layui-input"
                           type="text"/>
                </div>
                <label class="layui-form-label">事件编码</label>
                <div class="layui-input-inline">
                    <input id="eventCode" name="eventCode" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">数据源编码</label>
                <div class="layui-input-inline">
                    <input id="dataSourceCode" name="dataSourceCode" autocomplete="off" class="layui-input"
                           type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-inline" style="width: 175px;">
                        <input name="startTime" id="startTime" placeholder="yyyy-MM-dd hh:mm:ss" autocomplete="off"
                               class="layui-input" type="text"/>
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 175px;">
                        <input name="endTime" id="endTime" placeholder="yyyy-MM-dd hh:mm:ss" autocomplete="off"
                               class="layui-input" type="text"/>
                    </div>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">查询</button>
                </div>
            </div>
        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

        <div style="display:none;" id="currentUser">
            <shiro:principal property="id"></shiro:principal>
        </div>

        <table id="uesrList" lay-filter="userTable"></table>

    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/matchFlowing/event.js"></script>

</div>
</body>
</html>