<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.rcs.mapper.settle.RcsMatchProfitMapper">
  <insert id="inserOrUpdate" parameterType="com.panda.sport.rcs.pojo.RcsMatchProfit">
    INSERT INTO `rcs_match_profit`(`sport_id`, `match_id`, `match_type`, `match_process_id`, `play_id`, `market_id`, `profit_amount`, `create_time`, `update_time`) VALUES
        (#{sportId}, #{matchId}, #{matchType}, #{matchProcessId},#{playId}, #{marketId}, #{profitAmount}, #{createTime}, #{updateTime})
    ON DUPLICATE KEY UPDATE
        profit_amount = #{profitAmount},
        update_time = now()
  </insert>

    <update id="updateProfitAmount">
        update `rcs_match_profit`
        set `profit_amount` = `profit_amount` + #{profitAmount},
            `update_time`   = now()
        where `match_type` = #{matchType}
          and `market_id` = #{marketId}
    </update>

    <select id="selectRcsMatchProfitByPlayId" resultType="com.panda.sport.rcs.pojo.vo.RcsMatchProfitVo">
        SELECT play_id,market_id,SUM(profit_amount)profit_amount,match_type FROM rcs_match_profit WHERE
        match_id=#{matchId} AND play_id IN
        <foreach close=")" collection="playIds" item="item" open="(" separator=", ">
            #{item,jdbcType=BIGINT}
        </foreach>
        <if test="matchType!=-1">
            and match_type=#{matchType}
        </if>
        GROUP BY play_id,market_id
    </select>

    <select id="selectRcsMatchProfitByMatchId" resultType="java.math.BigDecimal">
        SELECT SUM(profit_amount) profit_amount
        FROM rcs_match_profit
        WHERE match_id = #{matchId}

    </select>
</mapper>