<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='心跳'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">IP</label>
                <div class="layui-input-inline">
                    <input id="ip" name="ip" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">进程ID</label>
                <div class="layui-input-inline">
                    <input id="pid" name="pid" pid="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">服务名称</label>
                <div class="layui-input-inline">
                    <select name="serverName" id="serverName">
                        <option value=""></option>
                        <option value="panda-rcs-trade" id="panda_rcs_trade">panda-rcs-trade</option>
                        <option value="panda-rcs-risk" id="panda_rcs_risk">panda-rcs-risk</option>
                        <option value="panda-rcs-datasync" id="panda_rcs_datasync">panda-rcs-datasync</option>
                        <option value="panda-rcs-task" id="panda_rcs_task">panda-rcs-task</option>
                        <option value="panda-rcs-ws" id="panda_rcs_ws">panda-rcs-ws</option>
                        <option value="panda-rcs-ws-getway" id="panda_rcs_ws_getway">panda-rcs-ws-getway</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="text-align: right;">
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">提交</button>
                </div>
            </div>
        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <table id="uesrList" lay-filter="serviceTable"></table>

    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/heart/heart_service.js"></script>

</div>
</body>
</html>