<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.RcsDjUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.panda.sport.rcs.pojo.dj.RcsDjUser">
        <id column="id" property="id" />
        <result column="panda_id" property="pandaId"/>
        <result column="dj_id" property="djId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>
